<style>
    i:hover {
        color: red;
    }
</style>

<!-- <div class="container">
<div class="col-md-3">
    <input type="text" class="form-control" [(ngModel)] = "searchText.name" placeholder="Search here...">
</div>
</div> -->
<!-- <div class="container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th (click)="sort('id')">ID &nbsp;<i class="fa fa-sort"></i></th>
                <th (click)="sort('name')">Name&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col">Mobile</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | orderBy: orderHeader:isDescOrder| filterBy:searchText">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.mobile}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
                <td>
                    <button routerLink="/update/{{user.id}}" class="btn btn-warning btn-sm">Edit</button> &nbsp;
                    <button class="btn btn-danger btn-sm" (click)="deleteUserdata(user.id)">Delete</button>
                </td>
            </tr>
            <div *ngIf ="(users|filterBy:searchText).length===0">No match is found</div>
        </tbody>
    </table>
</div> -->

<div class="container">
    <h1 class="heading mt-4">Users</h1>
    <div class="col-md-3">
        <input type="text" name="searchText" class="form-control" placeholder="Search Text Here..."
            [(ngModel)]="searchString">
    </div>
</div>

<div class="container mt-2">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th (click)="sort('id')">ID &nbsp;<i class="fa fa-sort"></i></th>
                <th (click)="sort('name')">Name&nbsp;<i class="fa fa-sort"></i></th>
                <th scope="col">Mobile</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let user of users | orderBy: orderHeader:isDescOrder | filter : searchString | paginate:{ itemsPerPage: 5, currentPage: p}; ">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.mobile}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
                <td>
                    <button routerLink="/update/{{user.id}}" class="btn btn-warning btn-sm">Edit</button> &nbsp;
                    <button class="btn btn-danger btn-sm" (click)="deleteUserdata(user.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container-fluid">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
